body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2B2A30;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-body {

}
